    <div class="header-logo">
      <% if @current_user %>
      <%= link_to("Kizuca", "/posts/index") %>
      <%= link_to '/users/index' do %>
        <i class="fas fa-user-plus header-icon header-search"></i>
      <% end %>
      <% else %>
      <%= link_to("Kizuca", "/") %>
      <% end %>
    </div>
    <ul class="header-menus">
      <% if @current_user %>
      <li>
        <%= link_to '/' do %>
        <i class="fas fa-cog fa-2x header-icon"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "/users/#{@current_user.id}" do %>
        <i class="far fa-envelope fa-2x header-icon"></i>
        <% end %>
      </li>
      <li>
        <%= link_to '/' do %>
        <i class="fas fa-bell fa-2x header-icon"></i>
        <% end %>
      </li>
      <li>
        <%= link_to '/' do %>
        <i class="fas fa-home fa-2x header-icon"></i>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to("Kizucaについて", "/about") %>
      </li>
      <li>
        <%= link_to("新規登録", "/signup") %>
      </li>
      <li>
        <%= link_to("ログイン", "/login") %>
      </li>
      <% end %>
    </ul>